HOST=0.0.0.0
PORT=3020
WEBSOCKET_URL=ws://localhost:3020/ws
VITE_SERVER_URL=http://localhost:3020
VITE_WEBSOCKET_URL=ws://localhost:3020/ws
VITE_USE_MOCK_SETTLEMENT=false
VITE_ARK_SERVER_URL=https://mutinynet.arkade.sh
VITE_BOLTZ_URL=https://api.boltz.mutinynet.arkade.sh
