HOST=0.0.0.0
PORT=3020
PARKER_CONTROLLER_PORT=3030
PARKER_NETWORK=mutinynet
PARKER_INDEXER_URL=http://localhost:3020
PARKER_ARK_SERVER_URL=https://mutinynet.arkade.sh
PARKER_BOLTZ_URL=https://api.boltz.mutinynet.arkade.sh
PARKER_USE_MOCK_SETTLEMENT=false
VITE_NETWORK=mutinynet
VITE_USE_MOCK_SETTLEMENT=false
VITE_ARK_SERVER_URL=https://mutinynet.arkade.sh
VITE_BOLTZ_URL=https://api.boltz.mutinynet.arkade.sh
